<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocialPodcast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17A618E91DA6061F00E71CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17A618FF1DA6061F00E71CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17A6190A1DA6061F00E71CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
